/* Global Styles */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Pattaya:400,500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* makes 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  /* 26px */
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 1.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4 {
  font-size: 2.2rem;
  font-weight: normal;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in;
}

button:hover {
  background: #27394e;
}

button:focus {
  background: #2c3f57;
  /* outline-style: solid;
    outline-color: cornflowerblue; */
}

/* Nav & Hero Sections */

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  /* required with the sticky position */
  top: 0px;
  /* images will not overlap the navbar header */
  z-index: 3;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  /* flex - grow | shrink | basis */
  flex: 1 1 40rem;
  justify-content: space-around;
}

nav ul a {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 1.8rem;
}

#logo {
  flex: 2 1 40rem;
  /* font-family: 'Pattaya', sans-serif; */
  font-weight: 400;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url(./img/landing-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

/* Locations Section */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(./img/new-york-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  /* hides any object coming into the section from an animation */
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}

.locations-head h3 {
  padding: 4rem 0rem;
  /* applies gradient color to text */
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  animation: cloudAnimation 8s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 20%;
  /* Moves the image to the back */
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 10s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Benefits Section */

.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  line-height: 1.6;
  flex: 1 1 25rem;
  min-height: 30vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
p {
  padding: 1rem;
}

.card-icon {
  background: #343c44;
}

/* Form */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./img/contact-mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.7);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 6rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
}

footer p {
  flex: 1 1 40rem;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/* Media Queries */

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }

  #cloud {
    height: 40rem;
    /* disables mouse selection */
    pointer-events: none;
  }

  .moving-cloud-1 {
    /* Moves the image to the back */
    z-index: -1;
  }

  .moving-cloud-2 {
    /* Moves the image to the back */
    z-index: -2;
  }

  .locations-head h3 {
    background: rgba(19, 28, 39, 0.8);
    -webkit-text-fill-color: white;
  }
}
